{
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "printWidth": 100,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": true,
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "parser": "babel"
      }
    }
  ]
}